<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>login demo</title>
</head>
<body>
<!-- table of accounts -->
<table>
    <tr> <!-- static · this means it's always there eventhough database is empty -->
        <td>name</td>
        <td>e-mail</td>
        <td>password</td>
    </tr>
    <tr th:each="member : ${members}"> <!-- iterates database to get accounts -->
        <td th:text="${member.name}"></td>
        <td th:text="${member.email}"></td>
        <td th:text="${member.password}"></td>
    </tr>
</table>

</body>
</html>